.header {
  background-color:  #e8edf5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}

.header ul {
  display: flex;
}

.header ul li {
  color: black;
  padding: 10px;
  list-style: none;
  line-height: 25px;
}

.header li.active {
  border-bottom: 4px solid #4284f5;

}

.header p.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #4284f5;
}

